@model TraditionalRx.Models.DTO.ChangePasswordModel
@{
    ViewData["Title"] = "Password Change";
}
@Html.ValidationSummary()
<div class="container">
    <div class="row">
        <div class="col-md-6 center-block">
            <h3>Change Password</h3>
            <form asp-action="ChangePassword" method="post">
                <div class="form-group">
                    <label asp-for="CurrentPassword" class="form-label mt-4"><b>Current Password*</b></label>
                    <input type="password" asp-for="CurrentPassword" class="form-control thicker-border border-color" placeholder="Current Password">
                    <div class="msg">
                        <span asp-validation-for="CurrentPassword" class="err"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="NewPassword" class="form-label mt-4"><b>New Password*</b></label>
                    <input type="password" asp-for="NewPassword" class="form-control thicker-border border-color" placeholder="New Password">
                    <div class="msg">
                        <span asp-validation-for="NewPassword" class="err"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="PasswordConfirm" class="form-label mt-4"><b>Confirm New Password*</b></label>
                    <input type="password" asp-for="PasswordConfirm" class="form-control thicker-border border-color" placeholder="Confirm New Password">
                    <div class="msg">
                        <span asp-validation-for="PasswordConfirm" class="err"></span>
                    </div>
                </div>
                
                @if (TempData["msg"] != null)
                {
                    <div class="form-group">
                       <span class="text-info">@TempData["msg"]</span>
                    </div>
                }
                <div class="form-group mt-4">
                    <button type="submit" class="btn btn-info">Save</button><br />
                </div>
            </form>
        </div>
    </div>
</div>
