@model TraditionalRx.Models.DTO.ChangePasswordModel
@{
    ViewData["Title"] = "Password Change";
}
@Html.ValidationSummary()

<form class="w-40" asp-action="ChangePassword" method="post">
    <div class="input-container">
        <label asp-for="CurrentPassword" class="w-40">CurrentPassword</label>
        <input type="password" class="input" asp-for="CurrentPassword" placeholder="Current Password">
    </div>
    <div class="message-box pd-x-28 error">
        <span asp-validation-for="CurrentPassword"></span>
    </div>

    <div class="input-container">
        <label asp-for="NewPassword" class="w-40">NewPassword</label>
        <input type="password" class="input" asp-for="NewPassword" placeholder="New Password">
    </div>
    <div class="message-box pd-x-28 error">
        <span asp-validation-for="NewPassword"></span>
    </div>

    <div class="input-container">
        <label asp-for="PasswordConfirm" class="w-40">Confirm New Password</label>
        <input type="password" class="input" asp-for="PasswordConfirm" placeholder="Confirm New Password">
    </div>
    <div class="message-box pd-x-28 error">
        <span asp-validation-for="PasswordConfirm"></span>
    </div>
                
    @if (TempData["msg"] != null)
    {
        <div class="form-group">
            <span class="text-info">@TempData["msg"]</span>
        </div>
    }
    <div class="input-container">
        <button type="submit" class="btn btn-default">Save</button><br />
    </div>
</form>
