@{
    ViewData["Title"] = "About";
}
<section id="about">
    <div class="container">
        
        <h2>About DiabetesRx</h2>

        <p>Welcome to our Indian Traditional Medicines website! We are dedicated to promoting and preserving the rich heritage of traditional Indian medicine systems such as Ayurveda, Unani and FDA Approved Drugs for the cure of Diabetes</p>

        <p>India has a long history of traditional medicine practices that have been passed down through generations. These ancient healing systems focus on holistic well-being and emphasize the balance between mind, body, and spirit.</p>

        <p>Our website provides valuable information about various traditional Indian medicines, including their history, principles, practices, and benefits. We aim to educate and empower individuals to explore the natural healing methods offered by these ancient systems.</p>

        <p>Whether you're interested in learning more about Ayurvedic herbs, Unani remedies, Siddha treatments, or yoga practices, you'll find helpful resources and insights on our website. Join us on a journey to discover the wisdom of Indian traditional medicines and embrace a healthier, more balanced lifestyle.</p>

        <p>Thank you for visiting . We hope you find our website is informative and inspiring!</p>
        </br>
        <p><b>Key Features:</b></p>
        </br>
        <ul>
            <li>Medicine Listing: Display a list of traditional Indian medicines with details such as scientific name, common name, family, parts of plant, components, compounds, methodology, reference, and images.</li>
            <li>Pagination: Implement pagination to manage large lists of medicines and improve user experience.</li>
            <li>Search: Allow users to search for medicines based on various criteria such as scientific name, common name, family, or category.</li>
            <li>Sorting: Enable users to sort the list of medicines based on different attributes such as scientific name, common name, or family.</li>
            <li>Filtering: Provide options for users to filter medicines based on specific criteria like category, parts of plant, or methodology.</li>
            <li>Medicine Detail Page: Create individual pages for each medicine with detailed information including images, descriptions, and related categories.</li>
            <li>User Roles: Assign different roles to users such as admin or regular user each with varying levels of access and permissions.</li>
            <li>Admin Dashboard: Create an admin dashboard where authorized users can manage medicines, categories, and user accounts.</li>
            <li>CRUD Operations: Implement CRUD (Create, Read, Update, Delete) functionality for managing medicines, categories, and user accounts.</li>
            <li>Error Handling: Implement error handling mechanisms to gracefully handle exceptions and provide informative error messages to users.</li>
            <li>Responsive Design: Ensure that the application is responsive and works well on various devices and screen sizes.</li>
        </ul>

        <p>Join us on the forefront of Diabetes Medicines research as we strive to accelerate scientific discovery, improve healthcare outcomes, and contribute to a deeper understanding of life itself.</p>
    </div>
</section>